@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Helvetica';
}
header{
	background-image: url(images/wood.jpg);
	text-align:center;
	color: white;
	padding: 100px;
	height: 800px;
}
#header-content{
	position: relative;
	top: 150px;
}

section{
	background-image: url(images/wood.jpg);
	text-align: center;
}

#about, #portfolio, #contact{
	height: 100%;
	width: 100%;
	padding: 100px;
	text-align: center;
	background-color: gray;
	color: white;
	font-size: 15px;
}
#portfolio{
	color: black;
}
#about h1, #contact h1, #portfolio h1{
	color: #ff9999;
}


#projects{
	background-color:black;
	color: white;
}

.panel-body:hover{
	background-color:white;
	color: black;
}

.panel-body{
	padding: 10px;
	color:white;
	background-color: black;	
}

.links {
	color: #ff9999;
	margin: 2px;
}
.links:hover {
	color: white;
}
.git, #resume, #submit{
	background-color: black;
	color: white;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
}

#resume:hover, .git:hover, #submit:hover{
	background-color: #ff9999;
	color: black;
	text-decoration: none;
	
}


nav.page-navigation{
	list-style-type: none;
    background-color: black;
	height: 60px;
	box-shadow: 0px 5px 5px;

}


nav.page-navigation li {
    color: white;
	background-color: black;
}

nav.page-navigation li a {
    color: white;
    text-decoration: none;
	font-size: 18px;
	padding: 20px 20px 20px 20px;
}


nav.page-navigation li a:hover {
    background-color: white;
    color: black;
	height: 60px;
}

footer{
	background-color: black;
	height: 50px;
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 20px 20px 20px 20px;
	position: absolute;
	left: 0px;
	right: 0px;
}

.scroll-top{
	position: fixed;
	bottom: 5px;
	right: 5px;
}
