@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Helvetica';
}
header{
	background-color: darkgray;
	text-align: center;
	padding: 100px;
}

section{
	background-color: darkgray;
	text-align: center;
}

#about, #portfolio, #contact{
	height: 100%;
	width: 100%;
	padding: 100px;
	text-align: center;
	background-color: gray;
}
#about h1, #contact h1{
	color: white;
}

#portfolio{
	background-color: darkgray;
	display: inline-block;
}

#projects{
	background-color:#ff9999;
	color: white;
	padding: 3px;
}

.links {
	color: black;
}

#resume{
	background-color: #ff9999;
	color: white;
	border-radius: 10px;
	border-width: thick;
	border-color: white;
	padding: 10px;
	text-decoration: none;
}

#resume:hover{
	background-color: black;

}

#submit{
	background-color: #ff9999;
	color: white;
	border-radius: 10px;
	padding: 5px;
	width: 100px;
	border: white;
	
}

#submit:hover{
	background-color: black;

}

nav.page-navigation{
	list-style-type: none;
    background-color: #ff9999;
	height: 60px;
}


nav.page-navigation li {
    color: white;
	background-color: #ff9999;
}

nav.page-navigation li a {
    color: white;
    text-decoration: none;
	font-size: 18px;
	padding: 20px 20px 20px 20px;
}


nav.page-navigation li a:hover {
    background-color: black;
    color: white;
	height: 60px;
}

footer{
	background-color: black;
	height: 50px;
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 20px 20px 20px 20px;
	position: absolute;
	left: 0px;
	right: 0px;
}

.scroll-top{
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: #ff9999;
}